*{
    margin:0;
}
body{
    font-family: 'Keania One';
    background-color: #D9D9D9;
}
.header{
    display: flex;
    width: 100%;
    height: 120px;   
    background-color: #002A68 ;
    justify-content: space-between;
    align-items: center;
}
.menu_bar{
    width: 61px;
    height: 61px;
    margin-left: 25px;
}
.title{
    text-align: center;
    font-size: 25px;
    color: white;
    font-weight: lighter;
    position:relative;
    left: 50px;
}
.logo{
    margin-right: 20px;
    justify-content: space-between;
}
.logo_ccis{
    width: 101px;
    height: 101px;
}
.logo_comsoc{
    width: 101px;
    height: 101px;
    border-radius: 50%;
}
.carousel{
    width: auto;
    display: grid;
    place-items: center;
    margin-top: 170px;
    align-items: center;
}
.carousel_left{
    position:absolute;
    width:392px;
    height: 219px;
    margin-right: 1150px;
    z-index: 1;
    opacity: 0.5;
    border-radius: 20px;
}
.carousel_middle{
    position:absolute;
    width:804px;
    height:295px;
    z-index: 2;
    border-radius: 20px;
}
.carousel_right{
    position: absolute;
    width: 392px; 
    height: 219px;
    margin-left: 1150px;
    z-index: 1;
    opacity: 0.5;
    border-radius: 20px;
}
.arrows{
    position: absolute;
    z-index: 3;
}
.left_arrow{
    margin-right: 500px;
}
.right_arrow{
    margin-left: 500px;
}
.content{
    width: auto;
    display: grid;
    place-items: center;
    margin-top: 350px;
    align-items: center;
}
.text_content{
    font-family: arial;
    line-height: 2;
    font-size: 15px;
    position: absolute;
    text-align: center;
    margin-right: 1100px;
}
.card_1{
    width: 316px;
    height: 360px;
    background-color: #F5F5F5;
    position: absolute;
    margin-left: 200px;
    border-radius: 15px;
}
.cardtext1{
    text-align: center;
    font-size: 35px;
    margin-top: 40px;
}
.cardpic1{
    width: 294px;
    height: 207px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 26px;
}
.card_2{
    width: 316px;
    height: 360px;
    background-color: #F5F5F5;
    position: absolute;
    margin-left: 1000px;
    border-radius: 15px;
}
.cardtext2{
    text-align: center;
    font-size: 35px;
    margin-top: 20px;
}
.cardpic2{
    width: 294px;
    height: 207px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 26px;
}
.footer{
    display: flex;
    width: 100%;
    height: 63px;   
    background-color: #F5F5F5 ;
    justify-content: space-between;
    align-items: center;
    margin-top: 270px;
}
.footer_text{
    font-size: 20px;
    margin-left: 50px;
    position: absolute
}


    
